<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NeptunoDB"
         connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=NeptunoDB;Integrated Security=True;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
